// widescreens

@include mediaXl {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(-100,0,0);
        font-size: 24px;
        
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('../img/portrait.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        // maakt dat de content alle onder elkaar is bij mobile
      grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

      grid-template-columns: 1fr; 
    }
    .projects {
        grid-template-areas:
      
      'job11'
      'job22'
      'job33'
      'job44'
      'job55'
      'job66';

      grid-template-columns: 1fr; 
    }
    .futur {
        grid-template-areas:
      
      'job11';

      grid-template-columns: 1fr; 
    }
}

@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}
